
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/line-icons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slicknav.css">


    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/response.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

    <title>In Souq</title>
</head>

<!-- Navbar Start -->

<body>
    <style media="screen">
        .review {
            width: 60% !important;
            padding-top: 24px !important;
            margin-left: 20% !important;
            padding-left: 0px !important;
        }
    </style>



    <div id="list-view" class="tab-pane fade active show containers trending-cat1">
        <div id="hero-area2">
            <div class="row">


                <div class="col-md-12 pad-pas">

                    <div class="featured-box6">
                        <div class="col-md-6 ">
                            <div class="featured ">




                                <div class="agency-pas">

                                    <div class="padding-form7">
                                        <img class="agency-pas2" src="~/assets/img/70.png" alt="">
                                    </div>
                                    <div class="padding-form7">
                                        <img class="review" src="~/assets/img/87.png" alt="">
                                    </div>
                                    <div class="padding-form7">
                                        <h3>Thank you </h3>
                                    </div>
                                    <div class="padding-form7">
                                        <p>Your information is under review, You will receive a confirmation email soon</p>
                                    </div>


                                    <div class="padding-form7">
                                        <button type="button" name="button" onclick="window.location.href='/Home/Index'">Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 logo-login">


                            <div class="back-pas">
                                <h3>Welcome to</h3>
                                <h1><img class="back-pas-img" src="~/assets/img/81.png" alt=""> </h1>
                                <p>Upload, manage and track the performance of your listings on insouq  </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    </div>
    </div>
    </div>





    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/assets/js/jquery-min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
