@using insouq.Shared.Utility 


<div id="c1" style="display:block;">
    <form id="addForm" asp-action="AddInitalClassified" method="post">
        <p class="post-p3">Let’s start with the title</p>
        <p>Try to have an informative title that’s to be point and not very long</p>
        <input required type="text" class="line-input-style17" maxlength="40" id="title" name="title" value=""
               placeholder="Dodge charger 2010 for Sale, perfect condition">
        <p>Recommended 40 characters</p>
        <p class="post-p3">Now choose the right category for your ad</p>

        <p class="padding-p">

            <select onclick="onCategoryClick()" onchange="onCategoryChange()" name="categoryId" id="categoryId" required class="line-input-style15">
                <option value="">Categories</option>
            </select>

        </p>

        <p class="padding-p">

            <select onchange="onSubCategoryChange()" name="subCategoryId" id="subCategoryId" required class="line-input-style15">
                <option value="">Sub Categories</option>
            </select>

        </p>

        <div id="otherSubCategory" style="display:none">

        </div>


        <p class="padding-p">
            <select onchange="onSubTypeChange()" name="subTypeId" id="subTypeId" required class="line-input-style15">
                <option value="">Item Name</option>
            </select>
        </p>

        <div id="otherSubType" style="display:none">

        </div>

        <button type="submit" class="signin-btn9" name="button">Continue</button>
    </form>
</div>