<div id="j1" style="display:block;">
    <form id="addForm" asp-action="AddInitalJobWanted" method="post">
        <p class="post-p3">Let’s start with the title</p>
        <p>Try to have an informative title that’s to be point and not very long</p>
        <input required type="text" class="line-input-style17" maxlength="40" id="title" name="title" value=""
               placeholder="Auctioner">
        <p>Recommended 40 characters</p>
        <p class="post-p3">Now let’s add your job</p>


        <p class="padding-p">
            <select required id="JobType" name="JobType" class="line-input-style15" onclick="onJobTypeClick()" onchange="onJobTypeChange()">
                <option value="">Job Category</option>
            </select>
        </p>

        <div id="otherJobType" style="display:none;">

        </div>

        <p class="padding-p">
            <label class="change-color">Phone Number</label>
            <input required type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength = "11" class="line-input-style17" value="@ViewBag.phoneNumber" name="PhoneNumber" id="PhoneNumber"  min="11">
        </p>

        <p class="padding-p">
            <label class="change-color"></label>
            <input type='text' placeholder="Job Title" required class="line-input-style15" name="JobTitle" id="JobTitle">
        </p>

        <button type="submit" class="signin-btn9" name="button">Continue</button>
    </form>
</div>