@{
    ViewData["Title"] = "Common DL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Common DL";
}

<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-action="Locations">
            <div class="dl-style">
                <p>Location</p>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a class="dl-color" asp-action="AdvertisingBudjets">
            <div class="dl-style">
                <p>Advertising Budjet</p>
            </div>
        </a>
    </div>
</div>

