@section Css{

    <style type="text/css">
        .elementor-52 .elementor-element.elementor-element-af907d9 .elementor-button {
            font-size: 16px;
            font-weight: 600;
            background-color: #ff8a04 !important;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: #ff8a04 !important;
            border-radius: 5px 5px 5px 5px;
        }

        .elementor-widget-button.sizzle-primary .elementor-button {
            outline: 0;
            color: #fff !important;
            background-color: #FF8A04 !important;
            border-color: #FF8A04 !important;
            border-width: 1px !important;
            border-style: solid !important;
            border-radius: 5px !important;
        }
    </style>

    <link rel="stylesheet" id="elementor-icons-css" href="https://business.dubizzle.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.9.1" type="text/css" media="all">
    <link rel="stylesheet" id="style-en-css" href="https://business.dubizzle.com/wp-content/themes/hub2/assets/css/en_style.min.css?ver=2.0.0" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-frontend-legacy-css" href="https://business.dubizzle.com/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.0.16" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-frontend-css" href="https://business.dubizzle.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.0.16" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-52-css" href="~/assets/css/busniss.css" type="text/css" media="all">
}

<div class="page-template-default page page-id-52 page-parent  singular advertisers inner elementor-default elementor-kit-1069 elementor-page elementor-page-52" data-elementor-device-mode="desktop">

    <div id="page-wrapper" style="margin-top:90px;"></div>
    <div class="primary__container">
        <div data-elementor-type="wp-page" data-elementor-id="52" class="elementor elementor-52" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-73f2845 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="73f2845" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-248ed97" data-id="248ed97" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-f3ca5b4 elementor-align-left elementor-widget elementor-widget-breadcrumbs" data-id="f3ca5b4" data-element_type="widget" data-widget_type="breadcrumbs.default">
                                                <div class="elementor-widget-container">
                                                    <p id="breadcrumbs"><span><span><a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">Advertisers</span></span></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-330a58dd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="330a58dd" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-614a38d3" data-id="614a38d3" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-43f00c14 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="43f00c14" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-background-overlay"></div>
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5ca8c672" data-id="5ca8c672" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-50023899 elementor-widget elementor-widget-spacer" data-id="50023899" data-element_type="widget" data-widget_type="spacer.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-spacer">
                                                                                <div class="elementor-spacer-inner"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-4b4a9488 homepage-headline elementor-widget__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="4b4a9488" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h1 class="elementor-heading-title elementor-size-default">Unlock your marketing objectives</h1>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-51feb17d elementor-widget elementor-widget-heading" data-id="51feb17d" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-default">Reach the largest in-market audience in the UAE</h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-af907d9 elementor-align-center elementor-widget elementor-widget-button" data-id="af907d9" data-element_type="widget" data-widget_type="button.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-button-wrapper">
                                                                                <a href="index.html" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                                    <span class="elementor-button-content-wrapper">
                                                                                        <span class="elementor-button-text">Create your campaign</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-71cf8531 elementor-widget elementor-widget-spacer" data-id="71cf8531" data-element_type="widget" data-widget_type="spacer.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-spacer">
                                                                                <div class="elementor-spacer-inner"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-508207af elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="508207af" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-733b97c" data-id="733b97c" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-3e09d8a4 elementor-widget elementor-widget-heading" data-id="3e09d8a4" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h3 class="elementor-heading-title elementor-size-default">Why Insoq advertising?</h3>
                                                </div>
                                            </div>
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-1d2f64b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1d2f64b" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8a91f36" data-id="8a91f36" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-1bb5ce43 elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="1bb5ce43" data-element_type="widget" data-widget_type="icon-box.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-icon-box-wrapper">
                                                                                <div class="elementor-icon-box-icon">
                                                                                    <a class="elementor-icon elementor-animation-grow" href="index.html">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47px" height="43px" viewBox="0 0 47 43"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><g transform="translate(-1.000000, -3.000000)" stroke-width="3"><g id="media-48px-outline-1_speaker" transform="translate(2.000000, 4.000000)"><path d="M14,27.5 L17.755,35.794 C18.478,37.415 17.751,39.316 16.13,40.039 L16.13,40.039 C14.509,40.762 12.608,40.035 11.885,38.414 L4.65,22.203" id="Shape" stroke="#626465"></path><path d="M30.5,32.5 L14.5,22.5 L6.5,22.5 C3.186,22.5 0.5,19.814 0.5,16.5 L0.5,16.5 C0.5,13.186 3.186,10.5 6.5,10.5 L14.5,10.5 L30.5,0.5 L30.5,32.5 Z" id="Shape" stroke="#626465"></path><path d="M40.5,16.5 L44.5,16.5" id="Shape" stroke="#FF8A04"></path><path d="M38.088,7.5 L41.553,5.5" id="Shape" stroke="#FF8A04"></path><path d="M38.088,25.5 L41.553,27.5" id="Shape" stroke="#FF8A04"></path><path d="M8.5,10.5 L8.5,22.5" id="Shape" stroke="#626465"></path></g></g></g></svg>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="elementor-icon-box-content">
                                                                                    <h4 class="elementor-icon-box-title">
                                                                                        <a href="index.html">Build brand awareness</a>
                                                                                    </h4>
                                                                                    <p class="elementor-icon-box-description">Create awareness and generate interest on UAE's largest marketplace</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-2b385a3e elementor-button-success elementor-align-center sizzle-primary elementor-widget elementor-widget-button" data-id="2b385a3e" data-element_type="widget" data-widget_type="button.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-button-wrapper">
                                                                                <a href="index.html" class="elementor-button-link1 elementor-button elementor-size-sm" role="button"
                                                                                   style="background:#ff8a04 !important; border-color:#ff8a04!important">
                                                                                    <span class="elementor-button-content-wrapper">
                                                                                        <span class="elementor-button-text">Learn more</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1bb4bee1" data-id="1bb4bee1" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-458f08f elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="458f08f" data-element_type="widget" data-widget_type="icon-box.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-icon-box-wrapper">
                                                                                <div class="elementor-icon-box-icon">
                                                                                    <a class="elementor-icon elementor-animation-grow" href="index.html">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="43px" height="39px" viewBox="0 0 43 39"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><g transform="translate(-3.000000, -5.000000)" stroke-width="3"><g transform="translate(4.000000, 6.000000)"><rect id="Rectangle-path" stroke="#FF8A04" x="14.5" y="18.5" width="8" height="18"></rect><rect id="Rectangle-path" stroke="#FF8A04" x="0.5" y="26.5" width="8" height="10"></rect><polygon id="Shape" stroke="#626465" points="32.5 0.5 24.5 10.5 28.5 10.5 28.5 36.5 36.5 36.5 36.5 10.5 40.5 10.5"></polygon></g></g></g></svg>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="elementor-icon-box-content">
                                                                                    <h4 class="elementor-icon-box-title">
                                                                                        <a href="index.html">Drive performance</a>
                                                                                    </h4>
                                                                                    <p class="elementor-icon-box-description">Engage with the largest in-market audience and generate high quality leads </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-1ff66c4 elementor-button-success elementor-align-center sizzle-primary elementor-widget elementor-widget-button" data-id="1ff66c4" data-element_type="widget" data-widget_type="button.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-button-wrapper">
                                                                                <a href="index.html" class="elementor-button-link elementor-button elementor-size-sm" role="button" style="background:#ff8a04 !important; border-color:#ff8a04!important">
                                                                                    <span class="elementor-button-content-wrapper">
                                                                                        <span class="elementor-button-text">Learn more</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5086592" data-id="5086592" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-7de666b elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="7de666b" data-element_type="widget" data-widget_type="icon-box.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-icon-box-wrapper">
                                                                                <div class="elementor-icon-box-icon">
                                                                                    <span class="elementor-icon elementor-animation-grow">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0 0 48 48"><defs></defs><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><g stroke-width="3"><g id="location-48px-outline_explore" transform="translate(2.000000, 2.000000)"><path d="M40.5,9.9 C43,13.5 44.5,17.8 44.5,22.5 C44.5,34.7 34.7,44.5 22.5,44.5 C10.3,44.5 0.5,34.7 0.5,22.5 C0.5,10.3 10.3,0.5 22.5,0.5 C27.2,0.5 31.5,1.9 35,4.4" id="Shape" stroke="#626465"></path><circle id="Oval" stroke="#FF8A04" cx="22.5" cy="22.5" r="12"></circle><circle id="Oval" stroke="#626465" cx="22.5" cy="22.5" r="2"></circle><circle id="Oval" stroke="#626465" cx="38.5" cy="6.5" r="4"></circle></g></g></g></svg>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="elementor-icon-box-content">
                                                                                    <h4 class="elementor-icon-box-title">
                                                                                        <span>Reach your target audience</span>
                                                                                    </h4>
                                                                                    <p class="elementor-icon-box-description">Deliver personalized ads through Insoq's extensive targeting capabilities</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-d8c5c1e elementor-button-success elementor-align-center sizzle-primary elementor-widget elementor-widget-button" data-id="d8c5c1e" data-element_type="widget" data-widget_type="button.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-button-wrapper">
                                                                                <a href="index.html" class="elementor-button-link elementor-button elementor-size-sm" role="button" style="background:#ff8a04 !important; border-color:#ff8a04!important">
                                                                                    <span class="elementor-button-content-wrapper">
                                                                                        <span class="elementor-button-text">Learn more</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-144534e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="144534e" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3871525" data-id="3871525" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-1e42aa6 elementor-widget elementor-widget-heading" data-id="1e42aa6" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h1 class="elementor-heading-title elementor-size-default">Advertising for SMEs </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-ce43da3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ce43da3" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0d79d22" data-id="0d79d22" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-5eaf900 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="5eaf900" data-element_type="widget" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-widget_type="video.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
                                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-4zsY28t76k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-d91ddc3" data-id="d91ddc3" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-55ea587 elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="55ea587" data-element_type="widget" data-widget_type="icon-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-box-wrapper">
                                                        <div class="elementor-icon-box-icon">
                                                            <span class="elementor-icon elementor-animation-grow">
                                                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 200 200">
                                                                    <defs>
                                                                        <style>
                                                                            .cls-1, .cls-2 {
                                                                                fill: none;
                                                                                stroke-linecap: round;
                                                                                stroke-linejoin: round;
                                                                                stroke-width: 12px;
                                                                            }

                                                                            .cls-1 {
                                                                                stroke: #626565;
                                                                            }

                                                                            .cls-2 {
                                                                                stroke: #de1f26;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <title>Insoq_BusinessHub_icons</title>
                                                                    <path class="cls-1" d="M90.16,193.81c6.19,1.33,12.73,1.2,19.11,1.05l29.82-.72c4.75-.12,9.8-.33,13.71-3,4.57-3.15,6.45-8.88,8-14.2q4.62-15.45,9.23-30.89c.73-2.43,1.46-4.94,1.16-7.45-.71-5.82-6.45-9.47-11.59-12.28l-34.4-18.78c-2.81-1.54-5.76-3.22-7.3-6-1.33-2.46-1.36-5.39-1.36-8.19l0-26.19c0-7.08-.15-14.7-4.35-20.41C107,39.59,95.69,38,88.67,43.36,80.44,49.67,79.86,61.63,80,72q.39,27.26.77,54.5c0,2.21-.4,5-2.56,5.53-1.69.39-3.21-1.05-4.39-2.33-4.4-4.75-9.41-9.09-15.34-11.7s-12.88-3.34-18.89-.94a18.09,18.09,0,0,0-11.19,15.7c-.42,7.56,7.05,14.75,11.88,19.59l25.36,25.39c5.49,5.5,11.17,11.12,18.32,14.15A34.22,34.22,0,0,0,90.16,193.81Z"></path>
                                                                    <path class="cls-2" d="M54.5,85a52,52,0,1,1,89,0"></path>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                        <div class="elementor-icon-box-content">
                                                            <h4 class="elementor-icon-box-title">
                                                                <span>Insoq Campaign Manager</span>
                                                            </h4>
                                                            <p class="elementor-icon-box-description">
                                                                Grow your business by advertising directly on Insoq.
                                                                We at Insoq are excited to empower SMEs to promote their products and services to the largest audience of active buyers in the UAE. <br><br>With Campaign Manager, you can create your campaigns anytime at the budget that works for you and get performance reports automatically!
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-40eebd7 elementor-align-center sizzle-Disable  elementor-button-success elementor-widget elementor-widget-button" data-id="40eebd7" data-element_type="widget" data-widget_type="button.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-button-wrapper">
                                                        <a href="index.html" class="elementor-button-link elementor-button elementor-size-sm" role="button" rel="noopener" target="_blank" aria-label="Register now! (opens in a new tab)">
                                                            <span class="elementor-button-content-wrapper">
                                                                <span class="elementor-button-text">Register now! </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-8fd3849 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8fd3849" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-963c45b" data-id="963c45b" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-75109cd elementor-widget elementor-widget-text-editor" data-id="75109cd" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix"><p>Monthly stats&nbsp;</p></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-f23e982 elementor-widget elementor-widget-heading" data-id="f23e982" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h3 class="elementor-heading-title elementor-size-default">Up to 1 in 2 UAE residents use Insoq every month</h3>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-5613a1a elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5613a1a" data-element_type="widget" data-widget_type="divider.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-divider">
                                                        <span class="elementor-divider-separator">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0d34e95" data-id="0d34e95" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-791fc44 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="791fc44" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f5a1cb0" data-id="f5a1cb0" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-9636843 elementor-widget elementor-widget-counter" data-id="9636843" data-element_type="widget" data-widget_type="counter.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-counter">
                                                                                <div class="elementor-counter-number-wrapper">
                                                                                    <span class="elementor-counter-number-prefix"></span>
                                                                                    <span class="elementor-counter-number" data-duration="1500" data-to-value="3.7" data-from-value="0" data-delimiter=",">3.7</span>
                                                                                    <span class="elementor-counter-number-suffix">M</span>
                                                                                </div>
                                                                                <div class="elementor-counter-title">Unique Users</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-914941f" data-id="914941f" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-0a32895 elementor-widget elementor-widget-counter" data-id="0a32895" data-element_type="widget" data-widget_type="counter.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-counter">
                                                                                <div class="elementor-counter-number-wrapper">
                                                                                    <span class="elementor-counter-number-prefix"></span>
                                                                                    <span class="elementor-counter-number" data-duration="2000" data-to-value="225" data-from-value="0" data-delimiter=",">225</span>
                                                                                    <span class="elementor-counter-number-suffix">M</span>
                                                                                </div>
                                                                                <div class="elementor-counter-title">Page views</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-44220fb" data-id="44220fb" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-d441eb3 elementor-widget elementor-widget-counter" data-id="d441eb3" data-element_type="widget" data-widget_type="counter.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-counter">
                                                                                <div class="elementor-counter-number-wrapper">
                                                                                    <span class="elementor-counter-number-prefix"></span>
                                                                                    <span class="elementor-counter-number" data-duration="2500" data-to-value="818" data-from-value="0" data-delimiter=",">818</span>
                                                                                    <span class="elementor-counter-number-suffix">K</span>
                                                                                </div>
                                                                                <div class="elementor-counter-title">Listings</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-ca99911 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ca99911" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4c81c1e" data-id="4c81c1e" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-7df8e5e elementor-widget elementor-widget-image" data-id="7df8e5e" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-image">
                                                        <figure class="wp-caption">
                                                            <a href="index.html">
                                                                <img onerror="this.src='/images/defaultAdImage.png'" width="768" height="407" src="~/assets/img/91.png">
                                                            </a>
                                                            <figcaption class="widget-image-caption wp-caption-text">Click to download </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0e7ae1d" data-id="0e7ae1d" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-60e3538 elementor-widget elementor-widget-image" data-id="60e3538" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-image">
                                                        <figure class="wp-caption">
                                                            <a href="index.html">
                                                                <img onerror="this.src='/images/defaultAdImage.png'" width="768" height="407" src="~/assets/img/91.png">
                                                            </a>
                                                            <figcaption class="widget-image-caption wp-caption-text">Click to download </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-33921c9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="33921c9" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6c41fb8" data-id="6c41fb8" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-3dd510c elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3dd510c" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-no">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-46539e2" data-id="46539e2" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-eabe4b2 elementor-widget elementor-widget-heading" data-id="eabe4b2" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h5 class="elementor-heading-title elementor-size-default"><b>Advertise on Insoq</b></h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-53ca3ff elementor-widget elementor-widget-text-editor" data-id="53ca3ff" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix"><p>You can now advertise directly using our easy to use self-service advertising platform – Campaign Manager. If you want managed services, you can reach out to us via the form.</p><p><b>Note:</b> the minimum budget for managed service is USD 2,500.</p></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-768bf79" data-id="768bf79" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-0457f04 elementor-button-align-end elementor-mobile-button-align-center elementor-widget elementor-widget-form" data-id="0457f04" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                                                        <div class="elementor-widget-container">
                                                                            <form class="elementor-form" method="post" name="AdvertisingHome">
                                                                                <input type="hidden" name="post_id" value="52">
                                                                                <input type="hidden" name="form_id" value="0457f04">

                                                                                <input type="hidden" name="queried_id" value="52">

                                                                                <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-firstname elementor-col-50 elementor-field-required elementor-mark-required">
                                                                                        <label for="form-field-firstname" class="elementor-field-label">First name</label><input size="1" type="text" name="form_fields[firstname]" id="form-field-firstname" class="elementor-field elementor-size-sm  elementor-field-textual" required="required" aria-required="true">
                                                                                    </div>
                                                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_cd41d97 elementor-col-50 elementor-field-required elementor-mark-required">
                                                                                        <label for="form-field-field_cd41d97" class="elementor-field-label">Last name</label><input size="1" type="text" name="form_fields[field_cd41d97]" id="form-field-field_cd41d97" class="elementor-field elementor-size-sm  elementor-field-textual" required="required" aria-required="true">
                                                                                    </div>
                                                                                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-50 elementor-field-required elementor-mark-required">
                                                                                        <label for="form-field-email" class="elementor-field-label">Email</label><input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" required="required" aria-required="true">
                                                                                    </div>
                                                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-phone elementor-col-50 elementor-field-required elementor-mark-required">
                                                                                        <label for="form-field-phone" class="elementor-field-label">Phone</label><input size="1" type="text" name="form_fields[phone]" id="form-field-phone" class="elementor-field elementor-size-sm  elementor-field-textual" required="required" aria-required="true">
                                                                                    </div>
                                                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-company elementor-col-50 elementor-field-required elementor-mark-required">
                                                                                        <label for="form-field-company" class="elementor-field-label">Company</label><input size="1" type="text" name="form_fields[company]" id="form-field-company" class="elementor-field elementor-size-sm  elementor-field-textual" required="required" aria-required="true">
                                                                                    </div>
                                                                                    <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-field_d119390 elementor-col-50 elementor-field-required elementor-mark-required">
                                                                                        <label for="form-field-field_d119390" class="elementor-field-label">Advertising budget</label>		<div class="elementor-field elementor-select-wrapper ">
                                                                                            <select name="form_fields[field_d119390]" id="form-field-field_d119390" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
                                                                                                <option value="">Advertising budget</option>
                                                                                                <option value="AED 5000">AED 5000</option>
                                                                                                <option value="AED 5000 - 10,000">AED 5000 - 10,000</option>
                                                                                                <option value="AED 5000 - 10,000">AED 10,000 - 20,000</option>
                                                                                                <option value="AED 20,000+">AED 20,000+</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
                                                                                        <button type="submit" class="elementor-button elementor-size-sm elementor-animation-shrink">
                                                                                            <span>
                                                                                                <span class=" elementor-button-icon">
                                                                                                </span>
                                                                                                <span class="elementor-button-text">Submit</span>
                                                                                            </span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>
