      <!-- Hero Area Start -->
<div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                <div class="contents">
                    <h1 class="faq-title">Have questions?</h1>
                    <h1 class="faq-title">We have <span>answers!</span></h1>
                    <div id="exTab1" class="container">

                        <div class="tab-content clearfix">
                            <div class="all-bar">
                                <form class="search-form">
                                    <fieldset>
                                        <div class="form-group tg-inputwithicon">
                                            <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                        </div>
                                    </fieldset>
                                    <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Section Start -->
<section class="featured section-padding">
    <div class="container text-center wow  wow fadeInUp sell-title">

        <div class="row">
            <div class="col-md-12 items">

                <div class="head-faq text-center">
                    <h1 class="section-title1">Trending FAQs</h1>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                                How can I pay for my order?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan libero erat, vitae elementum justo iaculis
                                vel. Cras lobortis, nulla vitae suscipit dapibus, diam leo fringilla quam, sit amet vehicula ex nibh et nibh.
                            </p>
                            <p>Donec metus sem, fringilla eget semper in, luctus id neque. Phasellus euismod dolor quis lacinia dignissim. </p>
                            <div class="container text-center wow  wow fadeInUp ">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <div class="about-wrapper ">

                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>
                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <img onerror="this.src='/images/defaultAdImage.png'" class="img-fluid" src="~/assets/img/16.png" alt="">
                                    </div>

                                    <div class="videos">
                                        <video controls>
                                            <source src="mov_bbb.mp4" type="video/mp4">
                                            <source src="1.ogg" type="video/ogg">
                                            Your browser does not support HTML video.
                                        </video>
                                    </div>
                                    <p class="sell-link"><a href="#">View more about selling guidlines.</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                                How do I place an ad?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan libero erat, vitae elementum justo iaculis
                                vel. Cras lobortis, nulla vitae suscipit dapibus, diam leo fringilla quam, sit amet vehicula ex nibh et nibh.
                            </p>
                            <p>Donec metus sem, fringilla eget semper in, luctus id neque. Phasellus euismod dolor quis lacinia dignissim. </p>

                            <div class="container text-center wow  wow fadeInUp ">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <div class="about-wrapper ">

                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>
                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <img onerror="this.src='/images/defaultAdImage.png'" class="img-fluid" src="~/assets/img/16.png" alt="">
                                    </div>

                                    <div class="videos">
                                        <video controls>
                                            <source src="mov_bbb.mp4" type="video/mp4">
                                            <source src="1.ogg" type="video/ogg">
                                            Your browser does not support HTML video.
                                        </video>
                                    </div>
                                    <p class="sell-link"><a href="#">View more about selling guidlines.</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">
                                How can I change my mobile number?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan libero erat, vitae elementum justo iaculis
                                vel. Cras lobortis, nulla vitae suscipit dapibus, diam leo fringilla quam, sit amet vehicula ex nibh et nibh.
                            </p>
                            <p>Donec metus sem, fringilla eget semper in, luctus id neque. Phasellus euismod dolor quis lacinia dignissim. </p>

                            <div class="container text-center wow  wow fadeInUp ">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <div class="about-wrapper ">

                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>
                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <img onerror="this.src='/images/defaultAdImage.png'" class="img-fluid" src="~/assets/img/16.png" alt="">
                                    </div>

                                    <div class="videos">
                                        <video controls>
                                            <source src="mov_bbb.mp4" type="video/mp4">
                                            <source src="1.ogg" type="video/ogg">
                                            Your browser does not support HTML video.
                                        </video>
                                    </div>
                                    <p class="sell-link"><a href="#">View more about selling guidlines.</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" aria-expanded="false">
                                What is a Featured Ad?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan libero erat, vitae elementum justo iaculis
                                vel. Cras lobortis, nulla vitae suscipit dapibus, diam leo fringilla quam, sit amet vehicula ex nibh et nibh.
                            </p>
                            <p>Donec metus sem, fringilla eget semper in, luctus id neque. Phasellus euismod dolor quis lacinia dignissim. </p>

                            <div class="container text-center wow  wow fadeInUp ">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <div class="about-wrapper ">

                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>
                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <img onerror="this.src='/images/defaultAdImage.png'" class="img-fluid" src="~/assets/img/16.png" alt="">
                                    </div>

                                    <div class="videos">
                                        <video controls>
                                            <source src="mov_bbb.mp4" type="video/mp4">
                                            <source src="1.ogg" type="video/ogg">
                                            Your browser does not support HTML video.
                                        </video>
                                    </div>
                                    <p class="sell-link"><a href="#">View more about selling guidlines.</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed" aria-expanded="false">
                                How long will my listing remain featured for?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan libero erat, vitae elementum justo iaculis
                                vel. Cras lobortis, nulla vitae suscipit dapibus, diam leo fringilla quam, sit amet vehicula ex nibh et nibh.
                            </p>
                            <p>Donec metus sem, fringilla eget semper in, luctus id neque. Phasellus euismod dolor quis lacinia dignissim. </p>

                            <div class="container text-center wow  wow fadeInUp ">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <div class="about-wrapper ">

                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>
                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <img onerror="this.src='/images/defaultAdImage.png'" class="img-fluid" src="~/assets/img/16.png" alt="">
                                    </div>

                                    <div class="videos">
                                        <video controls>
                                            <source src="mov_bbb.mp4" type="video/mp4">
                                            <source src="1.ogg" type="video/ogg">
                                            Your browser does not support HTML video.
                                        </video>
                                    </div>
                                    <p class="sell-link"><a href="#">View more about selling guidlines.</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="collapsed" aria-expanded="false">
                                How does this impact my Promoted Ads?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc accumsan libero erat, vitae elementum justo iaculis
                                vel. Cras lobortis, nulla vitae suscipit dapibus, diam leo fringilla quam, sit amet vehicula ex nibh et nibh.
                            </p>
                            <p>Donec metus sem, fringilla eget semper in, luctus id neque. Phasellus euismod dolor quis lacinia dignissim. </p>

                            <div class="container text-center wow  wow fadeInUp ">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <div class="about-wrapper ">

                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>
                                            <p class="intro-desc">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                                typesetting,
                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <img onerror="this.src='/images/defaultAdImage.png'" class="img-fluid" src="~/assets/img/16.png" alt="">
                                    </div>

                                    <div class="videos">
                                        <video controls>
                                            <source src="mov_bbb.mp4" type="video/mp4">
                                            <source src="1.ogg" type="video/ogg">
                                            Your browser does not support HTML video.
                                        </video>
                                    </div>
                                    <p class="sell-link"><a href="#">View more about selling guidlines.</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
