
<div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                <div class="contents">
                    <h1 class="head-title">List. Sell. Buy.<span class="year"> Repeat.</span></h1>
                    <div id="exTab1" class="container">
                        <ul class="social-network social-circle">
                            <li class="active"><a href="#1a" class="icoRss" data-toggle="tab"><i>All</i></a></li>
                            <li><a href="#9a" data-toggle="tab" class="icocar"><i class="fa fa-car"></i></a></li>
                            <li><a href="#2a" data-toggle="tab" class="icoTwitter"><i class="fa fa-home"></i></a></li>
                            <li><a href="#3a" data-toggle="tab" class="icoGoogle"><i class="fa fa-user"></i></a></li>
                            <li><a href="#4a" data-toggle="tab" class="icoLinkedin"><i class="fa fa-wrench"></i></a></li>
                            <li><a href="#5a" data-toggle="tab" class="icobag"><i class="fa fa-briefcase"></i></a></li>
                            <li><a href="#6a" data-toggle="tab" class="icopa"><i class="fa fa-list"></i></a></li>
                            <li><a href="#7a" data-toggle="tab" class="icope"><i class="fa fa-ellipsis-h"></i></a></li>
                            <li><a href="#8a" data-toggle="tab" class="icoya"><i class="fa fa-square"></i></a></li>

                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane" id="9a">
                                <div class="search-bar">

                                    <form class="search-form">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">

                                                <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane active " id="1a">
                                <div class="all-bar">

                                    <form class="search-form">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">

                                                <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                            </div>

                                        </fieldset>
                                        <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="2a">
                                <div class="search-bar">

                                    <form class="search-form">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">

                                                <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="3a">

                                <form class="search-form">
                                    <div class="jop-bar">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select cat-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="line-style">
                                        <fieldset>
                                            <div class="col-md-4">


                                                <div class="form-group tg-inputwithicon">
                                                    <div class="tg-selects">
                                                        <label>Make</label>
                                                        <select>
                                                            <option value="none">All Makes</option>
                                                            <option value="none">Mobiles</option>
                                                            <option value="none">Electronics</option>
                                                            <option value="none">Training</option>
                                                            <option value="none">Real Estate</option>
                                                            <option value="none">Services</option>
                                                            <option value="none">Training</option>
                                                            <option value="none">Vehicles</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group tg-inputwithicon">
                                                    <div class="tg-selects ">
                                                        <label>Model</label>
                                                        <select>
                                                            <option value="none">All Models</option>
                                                            <option value="none">Mobiles</option>
                                                            <option value="none">Electronics</option>
                                                            <option value="none">Training</option>
                                                            <option value="none">Real Estate</option>
                                                            <option value="none">Services</option>
                                                            <option value="none">Training</option>
                                                            <option value="none">Vehicles</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group tg-inputwithicon">
                                                    <div class="tg-selects">
                                                        <label class="label-style">Trim</label>
                                                        <select>
                                                            <option value="none">All Trims</option>
                                                            <option value="none">Mobiles</option>
                                                            <option value="none">Electronics</option>
                                                            <option value="none">Training</option>
                                                            <option value="none">Real Estate</option>
                                                            <option value="none">Services</option>
                                                            <option value="none">Training</option>
                                                            <option value="none">Vehicles</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Price Range (in AED)</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="line-input" name="" value="" placeholder="500,000">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="line-input" name="" value="" placeholder="500,000">
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <label>Year</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="line-input" name="" value="" placeholder="2005">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="line-input" name="" value="" placeholder="2019">
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <label>Mileage (in KMs)</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="line-input" name="" value="" placeholder="0">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="line-input" name="" value="" placeholder="50,000">
                                                </div>
                                            </div>


                                        </fieldset>





                                    </div>
                                    <div class="col-md-10">
                                        <div class="line-style1">
                                            <fieldset>
                                                <div class="col-md-12">
                                                    <input type="text" name="customword" class="input-style1" placeholder="I am looking for…">
                                                </div>

                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn-style" type="button"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                    <!-- <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button> -->
                                </form>
                            </div>
                            <div class="tab-pane" id="4a">
                                <div class="search-bar">

                                    <form class="search-form">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">

                                                <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="5a">
                                <div class="search-bar">

                                    <form class="search-form">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">

                                                <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="6a">
                                <div class="search-bar">

                                    <form class="search-form">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">

                                                <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="7a">
                                <div class="search-bar">

                                    <form class="search-form">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">

                                                <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="8a">
                                <div class="search-bar">

                                    <form class="search-form">
                                        <fieldset>
                                            <div class="form-group tg-inputwithicon">

                                                <input type="text" name="customword" class="form-control" placeholder="I am looking for…">
                                            </div>
                                            <div class="form-group tg-inputwithicon">
                                                <div class="tg-select">
                                                    <select>
                                                        <option value="none">Used Cars for Sale</option>
                                                        <option value="none">Mobiles</option>
                                                        <option value="none">Electronics</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Real Estate</option>
                                                        <option value="none">Services</option>
                                                        <option value="none">Training</option>
                                                        <option value="none">Vehicles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button class="btn btn-common1" type="button"><i class="fa fa-search"></i>Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header Area wrapper End -->
<!-- Featured Section Start -->
<section class="featured section-padding">
    <div class="container text-center wow  wow fadeInUp sell-title">
        <h3>Selling Guidlines</h3>
        <h1 class="">Sell better now with</h1>
        <h1><img src="~/assets/img/67.png" alt=""></h1>
        <div class="row">
            <div class="col-md-12 items">

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                    from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                    looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites
                    of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
                    1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is
                    a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
                    dolor sit amet..", comes from a line in section 1.10.32.
                </p>
                <p>
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and
                    1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by
                    English versions from the 1914 translation by H. Rackham.
                </p>

            </div>
        </div>
    </div>
</section>
