@{
    ViewData["Title"] = "Jobs DL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Jobs DL";
}

<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-action="Common">
            <div class="dl-style">
                <p>Common</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="JobOpening">
            <div class="dl-style">
                <p>Job Opening</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="JobWanted">
            <div class="dl-style">
                <p>Job Wanted</p>
            </div>
        </a>
    </div>
</div>

