@{
    ViewData["Title"] = "Business DL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Business DL";
}

@using insouq.Shared.Utility

<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-controller="SubCategory" asp-action="WithCategory" asp-route-typeId="@StaticData.Business_ID">
            <div class="dl-style">
                <p>Business Category</p>
            </div>
        </a>
    </div>
</div>

