
@{
    ViewData["Title"] = "Static Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Static Data";
}

<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-action="Banner">
            <div class="dl-style">
                <p>Banner</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="UpsertSme">
            <div class="dl-style">
                <p>SMEs</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="UpsertAdvertisingReasons">
            <div class="dl-style">
                <p>Advertising Reasons</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="AdvertisorImages">
            <div class="dl-style">
                <p>Advertisor Images</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="Advertisings">
            <div class="dl-style">
                <p>Advertisings Form</p>
            </div>
        </a>
    </div>
</div>