
@{
    ViewData["Title"] = "Static Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Static Data";
}

<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-action="AllHIW">
            <div class="dl-style">
                <p>How It Works</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="AllFAQS">
            <div class="dl-style">
                <p>FAQS</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="AboutUs">
            <div class="dl-style">
                <p>About Us</p>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a class="dl-color" asp-action="Adv">
            <div class="dl-style">
                <p>Advertisers</p>
            </div>
        </a>
    </div>
</div>