
@{
    ViewData["Title"] = "UpsertAdvertisingReasons";
}

@model insouq.Models.StaticData.AdvertisingReason

<div class="row mb-2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                @if (Model.Id == 0)
                {
                    <h2 style="color:#000;"><strong>Add</strong> New Item</h2>
                }
                else
                {
                    <h2 style="color:#000;"><strong>Edit</strong> Item</h2>
                }
            </div>
            <div class="panel-body">
                <form asp-action="UpsertAdvertisingReasons" method="POST" enctype="multipart/form-data" name="myForm">
                    @Html.HiddenFor(m => m.Id)
                    <div class="row">
                        <h2 style="margin-left:25px;">Reason 1</h2>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input required type="text" asp-for="En_Title1" placeholder="Title (ENG)" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <input required type="text" asp-for="Ar_Title1" placeholder="Title (AR)" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <textarea required asp-for="En_Description1" rows="6" placeholder="Description (ENG)" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6">
                                <textarea required asp-for="Ar_Description1" rows="6" placeholder="Description (AR)" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2 style="margin-left:25px;">Reason 2</h2>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input required type="text" asp-for="En_Title2" placeholder="Title (ENG)" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <input required type="text" asp-for="Ar_Title2" placeholder="Title (AR)" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <textarea required asp-for="En_Description2" rows="6" placeholder="Description (ENG)" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6">
                                <textarea required asp-for="Ar_Description2" rows="6" placeholder="Description (AR)" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2 style="margin-left:25px;">Reason 3</h2>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input required type="text" asp-for="En_Title3" placeholder="Title (ENG)" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <input required type="text" asp-for="Ar_Title3" placeholder="Title (AR)" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <textarea required asp-for="En_Description3" rows="6" placeholder="Description (ENG)" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6">
                                <textarea required asp-for="Ar_Description3" rows="6" placeholder="Description (AR)" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" align="right">
                        <a class="btn btn-danger btn-sm" type="button" asp-action="Index">Cancel</a>
                        @if (Model.Id == 0)
                        {
                            <input type="submit" name="save" value="Add Item" class="btn btn-primary btn-sm">
                        }
                        else
                        {
                            <input type="submit" name="save" value="Edit Item" class="btn btn-primary btn-sm">
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
