@{
    ViewData["Title"] = "Classifieds DL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Classifieds DL";
}

@using insouq.Shared.Utility

<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-controller="SubCategory" asp-action="WithCategory" asp-route-typeId="@StaticData.Electronics_ID">
            <div class="dl-style">
                <p>Electronic Sub Category</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-controller="SubType" asp-action="WithCategory" asp-route-typeId="@StaticData.Electronics_ID">
            <div class="dl-style">
                <p>Trim</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-controller="ElectronicsDL" asp-action="Ages" asp-route-typeId="@StaticData.Electronics_ID">
            <div class="dl-style">
                <p>Age</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-controller="ElectronicsDL" asp-action="Usages" asp-route-typeId="@StaticData.Electronics_ID">
            <div class="dl-style">
                <p>Usage</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-controller="ElectronicsDL" asp-action="Colors">
            <div class="dl-style">
                <p>Color</p>
            </div>
        </a>
    </div>
</div>

