@{
    ViewData["Title"] = "Jobs DL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Jobs DL";
}

@using insouq.Shared.Utility

<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-action="EmploymentTypes">
            <div class="dl-style">
                <p>Employment Type</p>
            </div>
        </a>
    </div>
</div>

