<div class="notification-style">

    <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="myModal22" role="dialog">
            <div class="modal-dialog dialog-padding">
                <!-- Modal content-->
                <div class="modal5-styles">
                    <div class="modal-header-styles2">
                        <h4 class=" mar-pop">Select a package that works for you</h4>
                        <button type="button" class="close-style7" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="padding-form check-po">
                            <p class="free-po">Free</p>
                            <label class="cont2">
                                <p class="text-style3">Hide my name and photo on my ads</p>
                                <input type="checkbox">
                                <span class="checkmark5"></span>
                                <p>Normal Visibility</p>
                            </label>
                        </div>
                        <h4 class="mar-pop">Upgrade Your Standard ad into a featured one</h4>
                        <p class="mar-pop">featured ads are placed on top of all Standard ads</p>
                        <div class="padding-form check-po">
                            <p class="free-po"> AED 19</p>
                            <label class="cont2">
                                <p class="text-style3">Featured Your ad for 3 days+</p>
                                <input type="checkbox">
                                <span class="checkmark5"></span>
                                <p>Get 6x more offers</p>
                            </label>
                        </div>
                        <div class="padding-form check-po">
                            <p class="free-po"> AED 29</p>
                            <label class="cont2">
                                <p class="text-style3">Featured Your ad for 7 days+</p>
                                <input type="checkbox">
                                <span class="checkmark5"></span>
                                <p>Get 10x more offers</p>
                            </label>
                        </div>
                        <div class="padding-form check-po">
                            <p class="free-po">AED 44</p>
                            <label class="cont2">
                                <p class="text-style3">Featured Your ad for 14 days+ </p>
                                <input type="checkbox">
                                <span class="checkmark5"></span>
                                <p>Get 15x more offers</p>
                            </label>
                        </div>
                        <form class="" action="" method="post">
                            <button type="button" class="signin-btn5" data-dismiss="modal" name="button" data-toggle="modal" data-target="#myModal23">Yes, I Agree </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="myModal23" role="dialog">
            <div class="modal-dialog dialog-padding">
                <!-- Modal content-->
                <div class="modal5-styles">
                    <div class="modal-header-styles2">

                        <button type="button" class="close-style7" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="par-style">
                            <img class="takes-img" src="~/assets/img/92.png" alt="">
                            <h4 class="emailme">Your ad was submitted and is under review</h4>
                            <p class="takes-p">Don't worry this usually takes 1-5 minutes We'll notify you when your ad is live.</p>
                        </div>
                        <form class="" action="" method="post">
                            <button type="button" class="signin-btn5" data-dismiss="modal" name="button" onclick="window.location.href='/Home/Index'">Done</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fade active show containers trending-cat">


        <!-- Tab content -->
        <div class="tab-content tabs-content-style" style="text-align: center;width: 100%; margin-left:0px;">

            <h2>Safty First!</h2>



            <div class="term-p">


                <p> we review all ads to keep everyone on insouq safe amd happy</p>
                <p>1. for any prohitabited or activity that violates UAE law </p>
                <p>2. in the wrong category</p>
                <p>3.placed multiple times, or in multiple categories</p>
                <p>4. wiyh fradulent or misleading information</p>
                <p>5. for an item that is located outside UAE</p>
                <p>
                    for more information read our
                    <br><a asp-controller="Home" asp-action="Terms">terms and conditions</a>
                </p>
            </div>
            <button type="button" name="button" data-toggle="modal" data-target="#myModal22">yes, i agree!</button>
        </div>
    </div>
</div>

