<div class="container">

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal10" role="dialog">
        <div class="modal-dialog dialog-padding">

            <!-- Modal content-->
            <div class="modal5-styles">
                <div class="modal-header-styles2">
                    <h4 class="title-dir">Delete Ad Confirmation</h4>
                    <button type="button" class="close-style7" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="par-style">
                        <p>Your ad has been deleted, we would love to know the reason for deleting your ad.</p>
                    </div>

                    <p class="tex-pad4">
                        <input type="radio" id="30days" name="days" value="30days">
                        <label for="30days" class="change-color2">I sold it on Insouq</label>

                    </p>
                    <p class="tex-pad4">
                        <input type="radio" id="30days" name="days" value="30days">
                        <label for="30days" class="change-color2">I sold it somewhere else</label>

                    </p>
                    <p class="tex-pad4">
                        <input type="radio" id="30days" name="days" value="30days">
                        <label for="30days" class="change-color2">I am no longer interested to sell it</label>

                    </p>
                    <p class="tex-pad4">
                        <input type="radio" id="30days" name="days" value="30days">
                        <label for="30days" class="change-color2">No specific reason</label>

                    </p>

                </div>

                <button type="button" class="signin-btn2" name="button">Continue</button>




            </div>

        </div>

    </div>
    <div class="modal fade" id="myModal38" role="dialog">
        <div class="modal-dialog dialog-padding">
            <!-- Modal content-->
            <div class="modal5-styles">
                <div class="modal-header-styles2">
                    <h4 class=" mar-pop">Select a package that works for you</h4>
                    <button type="button" class="close-style7" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <h4 class="mar-pop">Upgrade Your Standard ad into a featured one</h4>
                    <p class="mar-pop font-package">featured ads are placed on top of all Standard ads</p>
                    <div class="padding-form check-po">
                        <p class="free-po"> AED 19</p>
                        <label class="cont2 backeg-fix">
                            <p class="backeg-style-text">Featured Your ad for 3 days</p>
                            <input type="checkbox">
                            <span class="checkmark5"></span>
                        </label>
                    </div>
                    <div class="padding-form check-po">
                        <p class="free-po"> AED 29</p>
                        <label class="cont2 backeg-fix">
                            <p class="backeg-style-text">Featured Your ad for 7 days</p>
                            <input type="checkbox">
                            <span class="checkmark5"></span>
                        </label>
                    </div>
                    <div class="padding-form check-po">
                        <p class="free-po">AED 44</p>
                        <label class="cont2 backeg-fix">
                            <p class="backeg-style-text">Featured Your ad for 14 days </p>
                            <input type="checkbox">
                            <span class="checkmark5"></span>
                        </label>
                    </div>
                    <form class="" action="" method="post">
                        <button type="button" class="signin-btn5" data-dismiss="modal" name="button" data-toggle="modal" data-target="#myModal23">Yes, I Agree </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal13" role="dialog">
        <div class="modal-dialog dialog-padding">

            <!-- Modal content-->
            <div class="modal5-styles">
                <div class="modal-header-styles2">
                    <h4 class="title-dir">Edit Ad Confirmation</h4>
                    <button type="button" class="close-style7" data-dismiss="modal">&times;</button>


                </div>
                <div class="modal-body">
                    <div class="par-style">
                        <p>Your ad is under review, we will notify you when the ad is active</p>
                    </div>
                    <form class="" action="" method="post">
                        <div class="padding-form">
                            <label class="change-color-label">Ad Title</label>
                            <input type="text" class="noline-input-style" name="" value="" placeholder="Ad Title">
                        </div>
                        <div class="padding-form">
                            <label class="change-color-label">Type</label>
                            <input type="text" class="noline-input-style" name="" value="" placeholder="Ad Type">
                        </div>
                        <div class="padding-form">
                            <label class="change-color-label">Category </label>
                            <input type="text" class="noline-input-style" name="" value="" placeholder="Ad Category">
                        </div>
                        <div class="padding-form">
                            <label class="change-color-label">Ad Reference</label>
                            <input type="text" class="noline-input-style" name="" value="" placeholder="Ad Reference">
                        </div>

                        <button type="button" class="signin-btn5" name="button">Continue</button>


                    </form>


                </div>

            </div>

        </div>
    </div>

</div>
<div class="notification-style" >


    <div id="list-view" class="tab-pane fade active show containers trending-cat">
        <div class="row">
            <div class="col-md-12">

                <h1 class="section-title6">Jobs Dashboard</h1>
                <ol class="breadcrumb-style">
                    <li><a asp-controller="Home" asp-action="Index"  class="breadcrumb-color">Home > </a></li>
                    <li class="breadcrumb-color"> Jobs dashboard</li>
                </ol>

            </div>
            <div class="col-md-9">

                <h1 class="section-title6">My Package</h1>
                <div class="featured-box">
                    <div class="col-md-2">
                        <figure>
                            <a href="#"><img onerror="this.src='/images/defaultAdImage.png'" class="img-fluid img-pad" src="~/assets/img/23.png" alt=""></a>
                        </figure>
                    </div>
                    <div class="col-md-10">

                        <div class="feature-content">

                            <h4><a href="ads-details.html">Package NO.1</a></h4>
                            <label class="label-view">
                                <p class="p-view">18</p>
                                <p class="p-view1">Opened CV</p>
                            </label>
                            <label class="label-view">
                                <p class="p-view">12</p>
                                <p class="p-view1">Remaining cv</p>
                            </label>
                            <div>
                                <span>Total Bought</span>
                                <p class="card-price">AED 2,350,949</p>
                            </div>
                        </div>
                        <div class="padding-form">
                            <button type="button" class="change-btn7" name="button">TOP-UP PACKAGE</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <h1 class="section-title6">Company profile</h1>
                <div class="featured-box">
                    <a type="button" class="apply-btn2" name="button" asp-controller="Users" asp-action="MyCompanyProfile">Company Profile</a>

                </div>
            </div>

            <div class="col-md-12">
                <h1 class="section-title6">My Ads</h1>
                <div class="featured-box">
                    <div class="col-md-2">
                        <figure>
                            <div class="img-border">
                                <a href="#"><img onerror="this.src='/images/defaultAdImage.png'" class="img-fluid img-padd2" src="~/assets/img/26.png" alt=""></a>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-8">
                            <div class="feature-content">

                                <h4><a href="ads-details.html">Warehouse Manager</a></h4>
                                <div class="padding-form3">
                                    <h5>Job Type</h5>
                                    <h5>Ad Status</h5>
                                </div>
                                <label class="label-view">
                                    <p><i class="fa fa-eye" aria-hidden="true"></i></p>
                                    <p>50 Views</p>
                                </label>
                                <label class="label-view">
                                    <p> <img onerror="this.src='/images/defaultAdImage.png'" src="~/assets/img/25.png" alt=""> </p>
                                    <p>18 Applicants</p>
                                </label>
                                <div>
                                    <p class="card-price">AED 128,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="float-style">
                                <div>
                                    <button type="button" class="change-btn11 float-style" name="button" onclick="window.location.href='statictics.html'">
                                        <i class="fa fa-line-chart icon-padding" aria-hidden="true"></i>Statistics
                                    </button>
                                </div>
                                <div class="">
                                    <button type="button" class="change-btn11 float-style" onclick="window.location.href='adedit3.html'">
                                        <i class="fas fa-pencil-alt icon-padding" aria-hidden="true"></i>Edit
                                    </button>
                                </div>
                                <div class="">

                                    <button type="button" class="change-btn12 float-style" name="button" data-toggle="modal" data-target="#myModal10">
                                        <i class="far fa-trash-alt icon-padding" aria-hidden="true"></i>Delete
                                    </button>
                                </div>
                                <div>

                                </div>
                                <div>
                                    <span class="padding-span3 float-style">Posted 2 days ago</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="package-style">
                            <a href="" data-toggle="modal" data-target="#myModal38"> <i class="fa fa-plus"></i> Upgrade your package to get upto 10x more views</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>