
@{
    Layout = "_Layout";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/line-icons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slicknav.css">
    <link href="~/assets/css/flag-icon.css" rel="stylesheet">

    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/response.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->

    <title>agency</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <!-- Custom CSS -->
    <link href="~/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        @*<header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="navbar-brand1" href="/Home/Index">
                        <img src="~/assets/img/57.png" alt="homepage" />
                    </a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                       href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <h1 class="agency-header">The Ocean Agency</h1>
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <li>
                            <a href="#" class="lang-style">Eng</a>
                        </li>
                        <li class=" in">
                            <a class="tg-btn" href="/Topnavbar/PostAnAd"><i class="fa fa-plus"></i> Post An Ad</a>
                        </li>
                        <ul class="sign-in">
                            <li class="nav-item dropdown inline-view">
                                <p>
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Steave
                                    </a><img src="~/assets/img/24.png" alt="Avatar" class="avatar">
                                </p>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Topnavbar/AgencyProfile"><i><img src="~/assets/img/59.png" alt=""> </i> Agency Profile</a>
                                    <a class="dropdown-item" href="/Topnavbar/managerprofile"><i><img src="~/assets/img/64.png" alt=""> </i> My Profile</a>
                                    <a class="dropdown-item" href="/Topnavbar/logout"><i><img src="~/assets/img/66.png" alt=""> </i> Log Out</a>
                                </div>
                            </li>
                        </ul>

                    </ul>
                </div>
            </nav>
        </header>*@

        <div class="page-wrapper">

            <div id="list-view" class="tab-pane fade active show  trending-cat">
                <div class="row">
                    <div id="list-view" class="tab-pane fade active show containers trending-cat">
                        <div class="row">
                            <section id="about" class="featured section-padding-agency how-title-agency" style="padding:10px">
                                <div class="container text-center wow  wow fadeInUp  animated" style="visibility: visible;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="about-wrapper3 ">


                                                <h1 class="section-title5">Package Subscription</h1>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <p class="sup-title">Current Packages</p>
                                        </div>

                                        <div class="col-md-6">


                                            <div class="padding-form ">

                                                <button type="button" class="list-btn1" onclick="window.location.href='/Packages/adpackage'">ADD A PACKAGE</button>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="col-md-12">


                                <div class="col-md-12">

                                    <div class="not-pad1">


                                        <div class="featured-box2">
                                            <div class="col-md-12">
                                                <div class="feature-content width-size  padding-bottom">
                                                    <h4><a href="ads-details.html">Range Rover Sports GCC Best Condition</a></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <figure>
                                                    <div class="grid">
                                                        <section>
                                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                                                                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <circle class="circle-chart__circle" stroke="#FF8A04" stroke-width="2" stroke-dasharray="60,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <g class="circle-chart__info">
                                                                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">60%</text>
                                                                    <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">used of backage</text>
                                                                </g>
                                                            </svg>
                                                        </section>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="col-md-2">
                                                <figure>
                                                    <div class="grid">
                                                        <section>
                                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                                                                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <circle class="circle-chart__circle" stroke="#FF8A04" stroke-width="2" stroke-dasharray="50,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <g class="circle-chart__info">
                                                                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">30 Ads</text>
                                                                    <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Purchased Ads</text>
                                                                </g>
                                                            </svg>
                                                        </section>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="col-md-2">
                                                <figure>
                                                    <div class="grid">
                                                        <section>
                                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                                                                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <circle class="circle-chart__circle" stroke="#FF8A04" stroke-width="2" stroke-dasharray="20,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <g class="circle-chart__info">
                                                                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">12 Ads</text>
                                                                    <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Remaining Ads</text>
                                                                </g>
                                                            </svg>
                                                        </section>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="col-md-2">
                                                <figure>
                                                    <div class="grid">
                                                        <section>
                                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                                                                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <circle class="circle-chart__circle" stroke="#FF8A04" stroke-width="2" stroke-dasharray="40,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <g class="circle-chart__info">
                                                                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">13 Ads</text>
                                                                    <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Main Ads</text>
                                                                </g>
                                                            </svg>
                                                        </section>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="col-md-2">
                                                <figure>
                                                    <div class="grid">
                                                        <section>
                                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                                                                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <circle class="circle-chart__circle" stroke="#FF8A04" stroke-width="2" stroke-dasharray="80,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                                <g class="circle-chart__info">
                                                                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">15 Ads</text>
                                                                    <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Featured Ads</text>
                                                                </g>
                                                            </svg>
                                                        </section>
                                                    </div>
                                                </figure>
                                            </div>

                                        </div>
                                        <p class="sup-title">Packages History</p>
                                        <div class="flow-table">
                                            <table class="package-table">
                                                <tr>
                                                    <th>NO</th>
                                                    <th>Package</th>
                                                    <th>Status</th>
                                                    <th>Purchased Ads</th>
                                                    <th>Date Started</th>
                                                    <th>Date Ends</th>
                                                    <th>Duration</th>
                                                </tr>
                                                <tr class="featured-box1">
                                                    <td>01</td>
                                                    <td>Silver</td>
                                                    <td><a href="packagesinvoice.html"><label class="activelabel">Active</label></a></td>
                                                    <td>30 Ads</td>
                                                    <td>15/4/2021</td>
                                                    <td>15/10/2021</td>
                                                    <td>6 Months</td>

                                                </tr>

                                                <tr class="featured-box1">
                                                    <td>01</td>
                                                    <td>Silver</td>
                                                    <td><a href="packagesinvoice.html"><label class="explabel">Expired</label></a></td>
                                                    <td>30 Ads</td>
                                                    <td>15/4/2021</td>
                                                    <td>15/10/2021</td>
                                                    <td>6 Months</td>

                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app-style-switcher.js"></script>
    <script src="~/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="~/plugins/bower_components/chartist/dist/chartist.min.js"></script>
    <script src="~/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/js/pages/dashboards/dashboard1.js"></script>
</body>

<script src="~/assets/js/jquery-min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.counterup.min.js"></script>
<script src="~/assets/js/waypoints.min.js"></script>
<script src="~/assets/js/wow.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery.slicknav.js"></script>
<script src="~/assets/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>
