@using insouq.Shared.Utility
@model insouq.Shared.DTOS.UserDTOS.UserDTO

@{
    var imageSrc = StaticData.SERVER_DOMAIN + Model.ProfilePicture;
    //var imageSrc = "";
}
<p>
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Welcome @Model.FirstName
    </a><img src="@imageSrc" alt="Avatar" class="avatar">
</p>