@model insouq.Shared.DTOS.ElectronicAdDTO
@using insouq.Shared.Utility 

<style media="screen">
    #files-area {
        margin: 0 auto;
    }

    .file-block {
        border-radius: 10px;
        margin: 5px;
        color: initial;
        display: inline-flex;
        & > span.name

    {
        padding-right: 10px;
        width: max-content;
        display: inline-flex;
    }

    }

    .image-view {
        width: 150px;
        height: 150px;
        object-fit: contain;
        background: white;
    }

    .file-delete {
        position: absolute;
        background-color: #db0909;
        color: white;
        border-radius: 100%;
        font-weight: bold;
        margin-top: 8px;
        justify-content: center;
        font-size: 14px;
        margin-right: 0;
        padding: 0px 7px 1px 7px;
        margin-left: 121px;
        cursor: pointer;
    }

    .name {
        display: none;
    }

    .img-div {
        position: relative;
        display: inline-block;
        width: 18%;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
    }

    :checked + label {
        border: 5px solid;
        border-color: #ffb01c;
        border-radius: 15px;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        max-width: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .icon-delete {
        background: #db0909;
        border: none;
        position: absolute;
        border-radius: 100%;
        margin-left: -22%;
        margin-top: 8px;
        color: white;
        font-size: 10px;
        padding: 0 8px;
    }

    .img-div:hover .middle {
        opacity: 1;
    }
</style>

<style media="screen">
    .ui-sortable-placeholder {
        visibility: visible !important;
        background: #eeeeee78 !important;
    }

        .ui-sortable-placeholder * {
            visibility: hidden;
        }

    .RearangeBox.dragElemThumbnail {
        opacity: 0.6;
    }

    .RearangeBox {
        width: 180px;
        height: 240px;
        padding: 10px 5px;
        cursor: all-scroll;
        float: left;
        font-family: sans-serif;
        display: inline-block;
        margin: 5px !important;
        text-align: center;
        color: #673ab7;
        /*color: rgb(34, 34, 34);
        background: #f3f2f1;     */
    }

    /*    body {
        font-family: sans-serif;
        margin: 0px;
    }*/

    .IMGthumbnail {
        max-width: 168px;
        height: 220px;
        margin: auto;
        background-color: #ececec;
        padding: 2px;
        border: none;
    }

        .IMGthumbnail img {
            max-width: 100%;
            max-height: 100%;
        }

    .imgThumbContainer {
        margin: 4px;
        border: solid;
        display: inline-block;
        justify-content: center;
        position: relative;
        border: 1px solid rgba(0,0,0,0.14);
        -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    }



        .imgThumbContainer > .imgName {
            text-align: center;
            padding: 2px 6px;
            margin-top: 4px;
            font-size: 13px;
            height: 25px;
            overflow: hidden;
        }

        .imgThumbContainer > .imgRemoveBtn {
            position: absolute;
            color: #e91e63ba;
            right: 2px;
            top: 2px;
            cursor: pointer;
            display: none;
        }

    .RearangeBox:hover > .imgRemoveBtn {
        display: block;
    }

    .custom-file-container__image-multi-preview {
        position: relative;
        box-sizing: border-box;
        transition: all 0.2s ease;
        border-radius: 6px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        float: left;
        margin: 1.858736059%;
        width: 29.615861214%;
        height: 190px;
        box-shadow: 0 4px 10px 0 rgb(51 51 51 / 25%);
    }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">



<div class="notification-style">
    <div id="list-view" class="tab-pane fade active show containers trending-cat">
        <div class="row">
            <div class="col-md-12">

                <h1 class="section-title5">Post an Ad</h1>
                <ol class="breadcrumb-style">
                    <li><a href="home.html" class="breadcrumb-color">Home > </a></li>
                    <li class="breadcrumb-color"> Post an Ad</li>
                </ol>

            </div>

            <div class="form-width">
                <div class="col-md-3">
                </div>
                <div class="col-md-7">
                    <form id="addForm" asp-action="Add" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(m => m.CategoryId)
                        @Html.HiddenFor(m => m.Lng, new { id = "lng" })
                        @Html.HiddenFor(m => m.Lat, new { id = "lat" })
                        <p class="post-p3">Let’s start with the title</p>
                        <p>Try to have an informative title that’s to be point and not very long</p>
                        <div class="padding-form">
                            <input type="text" class="line-input-style17" maxlength="40" required asp-for="Title" placeholder="Dodge charger 2010 for Sale, perfect condition">
                            <Small>Recommended 40 characters</Small>
                            <p class="post-p4">Looks good, Now please add more details</p>
                        </div>

                        <div class="">
                            <label for=''>
                                <p class="post-p5">Pictures of your ad</p>
                                <div class="">
                                    <label for="images"><i class="fa fa-plus add-image"><p>Add more pictures</p></i></label>
                                    <p><small>You can add upto 10 pictures</small></p>
                                    <p style="color:#ffb01c">select your main image by click on it</p>
                                </div>

                            </label>
                            <div class="form-group">
                                <input type="file" asp-for="Pictures" id="images" multiple class="form-control" required hidden>
                                <p id="files-area">
                                    <span id="filesList">
                                        <span id="files-names"></span>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <div id="image_preview" style="width:100%;">

                                </div>
                            </div>
                        </div>


                        <div class="padding-form">
                            <input placeholder="Listing price" type="number" class="line-input-style16" asp-for="Price" min="0"><label class="label-price1">AED</label>
                        </div>

                        <div class="padding-form">
                            <label class="change-color">Phone Number</label>
                            <input required type="number" class="line-input-style17" asp-for="PhoneNumber" value="@ViewBag.phoneNumber">
                        </div>

                        <div class="padding-form">
                            <textarea placeholder="Add a short description" required asp-for="Description" cols="92" rows="7" style="border:0px;"></textarea>
                            <br>
                            <span>0/400 words</span>
                        </div>

                        <p class="post-p4">Specifications</p>


                        <div class="padding-form">
                            <select required asp-for="SubCategoryId" class="line-input-style15"
                                    id="subCategoryDL">
                                <option value="">Sub Category</option>
                            </select>
                        </div>

                        <div id="otherSubCategory" style="display:none">

                        </div>

                        <div class="padding-form">
                            <select required asp-for="SubTypeId" class="line-input-style15"
                                    id="subTypeDL">
                                <option value="">Trim</option>
                            </select>
                        </div>

                        <div id="otherSubType" style="display:none">

                        </div>

                        <div class="padding-form">
                            <select required asp-for="Age" class="line-input-style15" id="ageDL">
                                <option value="">Age</option>
                            </select>
                        </div>

                        <div class="padding-form">
                            <select required asp-for="Usage" class="line-input-style15" id="usageDL">
                                <option value="">Usage</option>
                            </select>
                        </div>

                        <div class="padding-form">
                            <select required asp-for="Color" class="line-input-style15" id="colorDL">
                                <option value="">Color</option>
                            </select>
                        </div>

                        <div class="padding-form">
                            <select required asp-for="Warranty" class="line-input-style15">
                                <option value="">Under Warranty ?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>


                        <div class="padding-form">
                            <select required asp-for="Location" class="line-input-style15" id="locationDL">
                                <option value="">Your location</option>
                            </select>
                        </div>


                        <div class="padding-form">
                            <button type="button" class="change-btn2" name="button" onclick="GetLocation()">Detect Location</button>
                            <div id="detectLocationError" style="margin-top:10px; display:none;">
                                <span id="detectLocationErrorMessage" style="color:red;"></span>
                            </div>
                        </div>

                        <label class="cont2">
                            <p class="text-style3">
                                By submitting this ad, I agree on <a href="#"> {Terms & Conditions}</a> and
                                <a href="#">{Privacy Policy}</a>
                            </p>
                            <input type="checkbox">
                            <span class="checkmark3" required></span>
                        </label>


                        <label class="">
                            <p class="text-style3">Once you submit the ad, we will review before publishing. You will be notified once approved</p>

                        </label>

                        <div class="padding-form padding-top">
                            <button type="button" class="change-btn3" name="button" onclick="onFormSubmit()">CONTINUE</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $("#subCategoryDL").on("change", function () {

            if ($("#subCategoryDL").val().toLowerCase() == "0") {
                $("#otherSubCategory").css("display", "block");
                $("#otherSubCategory").html(`<div class='padding-form'>
                            <input placeholder="Other, please type here" required id='OtherSubCategory' name='OtherSubCategory' class="line-input-style15" type="text">
                                    </div>`);

                $('#subTypeDL option').not(':first').remove();

                $("#subTypeDL").append(`<option id="othersSubType" value='0'>others</option>`);


            } else {
                $("#otherSubCategory").html("");
                $("#otherSubType").html("");
                $("#subTypeDL").val(null);
                $("#subTypeDL option").not(':first').remove();

                if ($("#subCategoryDL").val() != "") {
                    var subCategoryId = $("#subCategoryDL").val();
                    $.ajax({
                        url: `/SubTypes/GetSubTypes?subCategoryId=${subCategoryId}`,
                        method: "GET",
                        success: function (response) {
                            $.each(response.items, function (i, item) {
                                $("#subTypeDL").append(`<option value='${item.id}'>${item.en_Name}</option>`);
                            });


                            $("#subTypeDL").append(`<option id="othersSubType" value='0'>others</option>`);

                        },
                        error: function (error) {
                            alert(error.message);
                        }
                    });

                }

            }
        });

        $("#subTypeDL").on("change", function () {

            if ($("#subTypeDL").val().toLowerCase() == "0") {
                $("#otherSubType").css("display", "block");
                $("#otherSubType").html(`<div class='padding-form'>
                            <input placeholder="Other, please type here" required id='OtherSubType' name='OtherSubType' class="line-input-style15" type="text">
                                    </div>`);

            } else {
                $("#otherSubType").html("");
            }
        });

        var ageDLloaded = false;
        $("#ageDL").on("click", function () {
            if (ageDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllAgeByTypeId?typeId=@StaticData.Electronics_ID",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#ageDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            ageDLloaded = true;
        });

        var usageDLloaded = false;
        $("#usageDL").on("click", function () {
            if (usageDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllUsageByTypeId?typeId=@StaticData.Electronics_ID",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#usageDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            usageDLloaded = true;
        });

        var colorDLloaded = false;
        $("#colorDL").on("click", function () {
            if (colorDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllColor",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#colorDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            colorDLloaded = true;
        });

        var locationDLloaded = false;
        $("#locationDL").on("click", function () {
            if (locationDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllLocation",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#locationDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            locationDLloaded = true;
        });

    </script>

    <script type="text/javascript">
        window.onload = function () {

             $.ajax({
                url: "/SubCategories/GetSubCategories?categoryId=@Model.CategoryId",
                method: "GET",
                success: function (response) {
                    console.log(response.items);
                    $.each(response.items, function (i, item) {
                        $("#subCategoryDL").append(`<option value='${item.id}'>${item.en_Name}</option>`);
                    });

                    $("#subCategoryDL").append(`<option value='0'>others</option>`);

                },
                error: function (error) {
                    alert(error.message);
                }
            });

        }
    </script>

    <script type="text/javascript">

        $("button").on("click", function () {
            var input_text = $("input[type='text']");
            if (!input_text.val()) {
                input_text.css("border", "1px solid red");
            }
            var input_number = $("input[type='number']");
            if (!input_number.val()) {
                input_number.css("border", "1px solid red");
            }
            var select = $("select");
            if (!select.val()) {
                select.css("border", "1px solid red");
            }
            var textarea = $("textarea");
            if (!textarea.val()) {
                textarea.css("border", "1px solid red");
            }

        });
        $('input').on("change", function () {
            var input = $("input");
            if (input.val()) {
                input.css("border", "none");
            }
            var input_text = $("input[type='text']");
            if (!input_text.val()) {
                input_text.css("border", "none");
            }
            var input_number = $("input[type='number']");
            if (!input_number.val()) {
                input_number.css("border", "none");
            }
            var select = $("select");
            if (!select.val()) {
                select.css("border", "none");
            }
            var textarea = $("textarea");
            if (!textarea.val()) {
                textarea.css("border", "none");
            }
        });

        // <img src='"+URL.createObjectURL(event.target.files[i])+"' class='img-responsive image ' title='"+this.files.item(i).name+"'>
        const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

        $("#images").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', { class: 'file-block' }),
                    fileName = $('<span/>', { class: 'name', text: this.files.item(i).name });
                fileBloc.append('<input type="radio"  id=' + this.files.item(i).name + '  name="MainPhoto" value=' + this.files.item(i).name + ' class="chb" hidden /><label  for=' + this.files.item(i).name + ' ><img class="image-view" src=' + URL.createObjectURL(event.target.files[i]) + '></label><span class="file-delete"><span>x</span></span>').append(fileName);
                $("#filesList > #files-names").append(fileBloc);
                // $('#image_preview').append("<div class='img-div' id='img-div"+i+"'><input type='radio'  id='"+this.files.item(i).name+"'  name='cb' value='"+this.files.item(i).name+"' class='chb' hidden /><label  for='"+this.files.item(i).name+"' ><img src='"+URL.createObjectURL(event.target.files[i])+"' class='img-responsive image ' title='"+this.files.item(i).name+"'></label><div class='middle'></div><span class="file-delete"><span>x</span></span></div>");
            };
            // Ajout des fichiers dans l'objet DataTransfer
            for (let file of this.files) {
                dt.items.add(file);
            }
            // Mise à jour des fichiers de l'input file après ajout
            this.files = dt.files;

            // EventListener pour le bouton de suppression créé
            $('span.file-delete').click(function () {
                let name = $(this).next('span.name').text();
                // Supprimer l'affichage du nom de fichier
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                document.getElementById('images').files = dt.files;
            });
        });
    </script>
}