@{
    ViewData["Title"] = "Motors DL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Motors DL";
}


<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-action="UsedCars">
            <div class="dl-style">
                <p>Used Cars</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="Boats">
            <div class="dl-style">
                <p>Boats</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="Machineries">
            <div class="dl-style">
                <p>Machinery</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="Parts">
            <div class="dl-style">
                <p>Parts</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="ExportCars">
            <div class="dl-style">
                <p>Export Cars</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="Bikes">
            <div class="dl-style">
                <p>Bike</p>
            </div>
        </a>
    </div>
</div>

