@{
    ViewData["Title"] = "Motors DL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Motors DL";
}

@using insouq.Shared.Utility

<div class="row">
    <div class="col-md-3">
        <a class="dl-color" asp-controller="SubCategory" asp-action="Index" asp-route-categoryId="@StaticData.Parts_ID">
            <div class="dl-style">
                <p>Part Category</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-controller="SubType" asp-action="Index" asp-route-categoryId="@StaticData.Parts_ID">
            <div class="dl-style">
                <p>Make</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="PartsDL">
            <div class="dl-style">
                <p>Part</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="Ages" asp-route-categoryId="@StaticData.Parts_ID">
            <div class="dl-style">
                <p>Age</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a class="dl-color" asp-action="Conditions" asp-route-categoryId="@StaticData.Parts_ID">
            <div class="dl-style">
                <p>Condition</p>
            </div>
        </a>
    </div>
</div>

